/* .header{
  padding-top: 10px;
  color: rgb(128, 24, 24);
  font-family: 'Cookie', cursive;
}
#dropdown-basic-button{
  font-size: 25px;
  background-color: rgb(128, 24, 24);
  padding: 9px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 5px;
  color: white;
  border: none;
} */

/* nav{
  position: fixed;
  right: 25px;
} */

/* .navlinks {
  color: rgb(128, 24, 24);
  background-color:rgb(255, 255, 255 , .5) ;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  border-style: solid; 
  border-color: rgb(128, 24, 24);
  float: right;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
} */

/* .navlinks:hover{
  color: white;
  background-color: rgb(128, 24, 24, .5);
} */

.floating-btn {
  font-size: 5px;
  color: #f1cdcf;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 50px;
  padding: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

nav {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(52, 66, 105, 0.97);
  /* animation: MoveUpDown 1s linear infinite; */
  transition: 0.7s ease-in-out;
  z-index: 1;
  overflow-x: hidden;
}

nav.active {
  transform: translate(0%, 0%);
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.tags {
  color: #f3824e;
  display: block;
  padding: 70px 25px;
  font-size: 30px;
  text-decoration: none;
}

.active-content {
  padding: 8px;
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
nav a {
  box-shadow: inset 0 0 0 0 #f1cdcf;
  position: relative;
   padding: 15px;
  text-decoration: none;
  font-size: 65px;
  color: #f1cdcf;
  display: block; 
  /* transition: 0.5s;  */
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

a:hover {
  color: #344269;
  box-shadow: inset 200vh 0px 0  0  #f1cdcf;;
}

.close-curtain {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 40px;
  z-index: 1;
  cursor: pointer;
  color: #f1cdcf;
}

@media screen and (max-width: 2500px) {
  nav {
    transform: translateX(-100%);
  }
}
