.header{
  padding-top: 10px;
  color: rgb(128, 24, 24);
  font-family: 'Cookie', cursive;
}

nav{
  position: fixed;
  right: 25px;
}

.navlinks {
  color: rgb(128, 24, 24);
  background-color:rgb(255, 255, 255 , .5) ;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  border-style: solid; 
  border-color: rgb(128, 24, 24);
  float: right;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.navlinks:hover{
  color: white;
  background-color: rgb(128, 24, 24, .5);
}