.intro {
  background: url("../Images/RR_BG4.jpg");
  background-position: center;
  background-size: cover;
  /* box-shadow: 0px 0px 25px 12px; */
  /* border-radius:0px 0px 40px 40px ; */
  height: 110vh;
}
