.intro {
  background: url("../Images/RR_BG4.jpg") no-repeat center fixed;;
  background-color: red ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}