.intro {
  background-color: #d6ecd8;
  background-position: center;
  background-size: cover;
  height: 500px;
  padding-bottom: 400px;
  margin-bottom: 50px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar {
  margin-top: 0px;
  background-color: #344269;
  color: #f1cdcf;
  height: 15%;
}

@media screen and (min-width: 420px) {
  .intro {
    background-color: #d6ecd8;
    background-position: center;
    background-size: cover;
    height: 500px;
    padding-bottom: 700px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 825px) {
  .intro {
    background-color: #d6ecd8;
    background-position: center;
    background-size: cover;
    height: 500px;
    padding-bottom: 450px;
    margin-bottom: 50px;
  }
}
