h1{
  font-size: 200px;
  font-family: 'Cookie', cursive;
  color: rgb(128, 24, 24);
  padding: 00px 0px 100px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: color-change 3s infinite
}

@keyframes color-change {
  0% { color: rgb(128, 24, 24); }
  33% { color: white }
  67% { color: rgb(30, 121, 44); }
  100% { color: rgb(128, 24, 24) }

}
