#logo {
  width: 100%;
  height: auto;
  border: none;
  padding-top: 100px;
  margin: 100px 0px;
}

@media screen and (min-width: 420px) {
  #logo {
    width: 100%;
    height: auto;
    border: none;
    padding-top: 50px;
    margin: 100px 0px;
  }

}
@media screen and (min-width: 825px) {
  #logo {
    width: 50%;
    height: auto;
    border: none;
    padding-top: 0px;
    margin: 0px
  }

  .big-screen{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
