h1{
  font-size: 200px;
  font-family: 'Cookie', cursive;
  color: rgb(128, 24, 24);
  padding: 100px 0px 200px 0px;
  margin: 50px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: color-change 5s infinite
}

@keyframes color-change {
  0% { color: rgb(128, 24, 24); }
  50% { color: rgb(30, 121, 44); }
  100% { color: rgb(128, 24, 24); }
}
