/* .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  overflow: auto;
  white-space: nowrap;
} */

.card {
  --card-gradient: rgba(0, 0, 0, 0.7);
  /* --card-gradient: tomato, orange; */
  --card-blend-mode: overlay;
   /* --card-blend-mode: multiply; */

   background-color: #fff;
   border-radius: 0.5rem;
   box-shadow: 0.10rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
   margin: 5rem 2rem 1rem 2rem ;
   padding-bottom: 1rem;
   background-image: linear-gradient(
     var(--card-gradient),
     white max(5rem, 30vh)
   );
   overflow: hidden;

  /* align-items: center;
  justify-content: center;
  grid-template-rows: max-content 200px 1fr;
  background-color: white;
  margin: 20px 20px 20px 20px; */
}


.card img {

  border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    object-fit: cover;
     /* height: max(10rem, 25vh); */
    max-height: max(30rem, 100vh);
    aspect-ratio: 4/3;
    mix-blend-mode: var(--card-blend-mode);
    /* filter: grayscale(100); */
  /* width: 100%;
  height: auto; */
}

h4{
  color:rgb(128, 24, 24);
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0px 5px 0px 5px;
}

p{
  color:rgb(128, 24, 24);
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 500;
}

button {
  background-color: rgb(128, 24, 24);
  color:white;
  padding: 10px 10px 10px 10px;
  font-family: 'Cookie', cursive;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
}

button:hover{
  background-color: rgb(145, 41, 41);
  box-shadow: 0px 0px 10px 1px black;
}

.container{
  text-align: center;
}
